@model CatalogoApp.Domain.Models.Item

<h1>Agregar videojuego</h1>
 
<form asp-action="Agregar" method="post">
    @* Centrado vertical con Flexbox *@
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" name="Nombre" class="form-control" required />
    </div>
    <div class="mb-3">
        <label class="form-label">Raza</label>
        <input type="text" name="Raza" class="form-control" required />
    </div>
    <div class="mb-3">
        <label class="form-label">Pelaje</label>
        <select name="Pelaje" class="form-control">
            <option>Corto</option>
            <option>Largo</option>
            <option>Sin pelo</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Temperamento</label>
        <select name="Temperamento" class="form-control">
            <option>Juguetón</option>
            <option>Tranquilo</option>
            <option>Independiente</option>
            <option>Cariñoso</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Descripción</label>
        <textarea name="Descripcion" class="form-control" rows="3"></textarea>
    </div>
 
    <div style="margin-left: 120px;">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>
 
<hr />
<a asp-action="Index">&larr; Cancelar</a>